<body>
	<p>flex-direction: 並べる向きは？</p>
	<div id="btn_group_direction" class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="radio" name="flex-direction" autocomplete="off" value="row"> row（→）
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="flex-direction" autocomplete="off" value="row-reverse"> row-reverse（←）
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="flex-direction" autocomplete="off" value="column"> column（↓）
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="flex-direction" autocomplete="off" value="column-reverse"> column-reverse（↑）
		</label>
	</div>
	</div>
	<p>flex-wrap: 折り返す？</p>
	<div id="btn_group_wrap" class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="radio" name="flex-wrap" autocomplete="off" value="nowrap" checked> nowrap
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="flex-wrap" autocomplete="off" value="wrap"> wrap
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="flex-wrap" autocomplete="off" value="wrap-reverse"> wrap-reverse
		</label>
	</div>
	<p>justify-content: 左右方向にはどう揃える？</p>
	<div id="btn_group_justify_content" class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="radio" name="justify-content" autocomplete="off" value="flex-start" checked> flex-start
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="justify-content" autocomplete="off" value="center"> center
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="justify-content" autocomplete="off" value="flex-end"> flex-end
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="justify-content" autocomplete="off" value="space-between"> space-between
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="justify-content" autocomplete="off" value="space-around"> space-around
		</label>
	</div>
	<p>align-items: 上下方向にはどう揃える？</p>
	<div id="btn_group_align_items" class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary">
			<input type="radio" name="align-items" autocomplete="off" value="flex-start"> flex-start
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="align-items" autocomplete="off" value="center"> center
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="align-items" autocomplete="off" value="flex-end"> flex-end
		</label>
		<label class="btn btn-primary active">
			<input type="radio" name="align-items" autocomplete="off" value="stretch" checked> stretch
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="align-items" autocomplete="off" value="baseline"> baseline
		</label>
	</div>
	<div class="flex_align_content">
		<p>align-content: 複数行になったとき、各行をどう配置する？</p>
		<div id="btn_group_align_content" class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary">
				<input type="radio" name="align-content" autocomplete="off" value="flex-start"> flex-start
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="align-content" autocomplete="off" value="center"> center
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="align-content" autocomplete="off" value="flex-end"> flex-end
			</label>
			<label class="btn btn-primary active">
				<input type="radio" name="align-content" autocomplete="off" value="stretch" checked> stretch
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="align-content" autocomplete="off" value="space-between"> space-between
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="align-content" autocomplete="off" value="space-around"> space-around
			</label>
		</div>
	</div>
	<div id="flex_result_container">
		<div class="flex_result">
			<div class="flex_container">
				<% for i in [1..3] : %>
				<div class="flex_content">
					<%- i %>
				</div>
				<% end %>
				<% for i in [4..10] : %>
				<div class="flex_content wrap_visible">
					<%- i %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<h4>サンプルCSSコード</h4>
	<div id="sample_css_code">
		<pre><code></code></pre>
	</div>
	<h4>サンプルHTMLコード</h4>
	<div id="sample_html_code">
		<pre><code>&lt;div class="flex_container"&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
	&lt;div class="flex_content"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</div>
	<% include '_scripts.html' %>
</body>